In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv('purchases.csv', usecols=range(1,5))

In [28]:
df.head(10)

   user_id  total_pieces_purchased  total_spent  created_at
0      NaN                       0            0  2013-07-02
1      NaN                       0            0  2013-07-02
2      NaN                       0            0  2013-07-03
3      NaN                       0            0  2013-07-03
4      NaN                       0            0  2013-07-05
5      NaN                       0            0  2013-07-05
6      NaN                       0            0  2013-07-08
7      NaN                       0            0  2013-07-08
8      NaN                       0            0  2013-07-08
9      NaN                       0            0  2013-07-08

In [23]:
len(df)

4086