In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('purchases.csv', usecols=range(1,5))

In [14]:
df.head()

   user_id  total_pieces_purchased  total_spent  created_at
0      NaN                       0            0  2013-07-02
1      NaN                       0            0  2013-07-02
2      NaN                       0            0  2013-07-03
3      NaN                       0            0  2013-07-03
4      NaN                       0            0  2013-07-05